.ativo {
  background-color: #009c34;
}

.inativo {
  background-color: #880f0fec;
}

.ativo,
.inativo {
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ffffff;
}
