<mat-toolbar class="breadcrumbs">
  <mat-card-header>
    <mat-card-title><mat-icon>groups</mat-icon>Gerenciar Usuários</mat-card-title>
  </mat-card-header>
  <span class="espaco-breadcrumbs"></span>
  <button type="button" mat-flat-button class="btn-primary" (click)="abrirDialog()">
    <mat-icon>person_add</mat-icon>
    Cadastrar
  </button>
</mat-toolbar>
<mat-card>
  <mat-card-content>
    <form [formGroup]="formulario" class="container">
      <mat-form-field appearance="outline" floatLabel="always" class="field-3">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome" />
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" class="field-3">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" class="field-3">
        <mat-label>Perfil</mat-label>
        <mat-select formControlName="perfil" placeholder="Selecione">
          <mat-option *ngFor="let perfil of listaPerfilEnum" [value]="perfil.id">
            {{ perfil.descricao }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" class="field-2">
        <mat-label>Status</mat-label>
        <mat-select matInput type="text" formControlName="ativo" placeholder="Selecione">
          <mat-option *ngFor="let ativo of listaStatusEnum" [value]="ativo.status">
            {{ ativo.descricao }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-card-actions style="margin-bottom: 20px !important">
        <button class="btn-primary" mat-flat-button (click)="filtrar()">
          <mat-icon>search</mat-icon> Pesquisar
        </button>
        <button class="btn-secondary" mat-stroked-button (click)="limpar()">
          <mat-icon>delete</mat-icon> Limpar
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>

  @if(dadosTabela.data.length){
  <mat-card-content>
    <table mat-table [dataSource]="dadosTabela">
      <ng-container matColumnDef="id">
        <th style="width: 5%" mat-header-cell *matHeaderCellDef>Id</th>
        <td style="width: 5%" mat-cell *matCellDef="let element">
          {{ element.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th style="width: 25%" mat-header-cell *matHeaderCellDef>Nome</th>
        <td style="width: 25%" mat-cell *matCellDef="let element">
          {{ element.nome }}
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th style="width: 25%" mat-header-cell *matHeaderCellDef>E-mail</th>
        <td style="width: 25%" mat-cell *matCellDef="let element">
          {{ element.email }}
        </td>
      </ng-container>

      <ng-container matColumnDef="perfil">
        <th style="width: 15%" mat-header-cell *matHeaderCellDef>Perfil</th>
        <td style="width: 15%" mat-cell *matCellDef="let element">
          {{ getDescricaoPerfil(element.perfil) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="dataCadastro">
        <th style="width: 10%" mat-header-cell *matHeaderCellDef>
          Data Cadastro
        </th>
        <td style="width: 10%" mat-cell *matCellDef="let element">
          {{ element.dataCriacao | date : "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th style="width: 5%; text-align: center" mat-header-cell *matHeaderCellDef>
          Ativo
        </th>
        <td style="width: 5%; text-align: center" mat-cell *matCellDef="let element">
          <mat-slide-toggle [checked]="element.ativo" (change)="ativaDesativar(element)" class="green-toggle"
            [matTooltip]="element.ativo ? 'Desativar' : 'Ativar'">
          </mat-slide-toggle>
        </td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th style="width: 10% ; text-align: center" mat-header-cell *matHeaderCellDef>Ações</th>
        <td style="width: 10% ; text-align: center" mat-cell *matCellDef="let element">
          <button matMiniFab color="primary" matTooltip="Editar" (click)="abrirDialog(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button matMiniFab color="warn" matTooltip="Excluir" (click)="excluir(element.id)">
            <mat-icon>close</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="colunasTabela"></tr>
      <tr mat-row *matRowDef="let row; let i = index; columns: colunasTabela"
        [ngClass]="{ 'linha-destacada': i % 2 === 0 }"></tr>
    </table>

    <mat-paginator [length]="dadosTabela.data.length" [pageSize]="7" [showFirstLastButtons]="true">
    </mat-paginator>
  </mat-card-content>
  } @else {
  <mat-card>
    <app-nada-encontrado></app-nada-encontrado>
  </mat-card>
  }
</mat-card>