<div class="auth-container">
  <div class="auth-form">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <mat-icon>{{ ehCadastro ? "person_add" : "login" }}</mat-icon>
          {{ ehCadastro ? "Cadastro" : "Login" }}
        </mat-card-title>
      </mat-card-header>

      <form [formGroup]="formulario">
        <mat-form-field appearance="outline" floatLabel="always" class="field-4" *ngIf="ehCadastro">
          <mat-label>Nome</mat-label>
          <mat-icon matPrefix>badge</mat-icon>
          <input matInput formControlName="nome" />
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always" class="field-4">
          <mat-label>E-mail</mat-label>
          <mat-icon matPrefix>alternate_email</mat-icon>
          <input matInput type="email" formControlName="email" />
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always" class="field-4">
          <mat-label>Senha</mat-label>
          <mat-icon matPrefix>lock</mat-icon>
          <input matInput type="password" formControlName="senha" />
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always" class="field-4" *ngIf="ehCadastro">
          <mat-label>Confirmar Senha</mat-label>
          <mat-icon matPrefix>lock</mat-icon>
          <input matInput type="password" formControlName="confirmarSenha" />
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always" class="field-4" *ngIf="ehCadastro">
          <mat-label>Perfil</mat-label>
          <mat-icon matPrefix>person</mat-icon>
          <mat-select formControlName="nivelAcesso">
            <mat-option *ngFor="let nivelAcesso of listaNivelAcessoEnum" [value]="nivelAcesso.id">
              {{ nivelAcesso.nivel }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>

      <mat-card-actions style="display: flex; align-self: center">
        <button mat-flat-button class="btn-primary" (click)="ehCadastro ? cadastrar() : login()" [disabled]="formulario.invalid">
          <mat-icon>{{ ehCadastro ? "person_add" : "login" }}</mat-icon>
          {{ ehCadastro ? "Cadastrar" : "Acessar" }}
        </button>
        <button mat-stroked-button class="btn-secondary" (click)="ehCadastro = !ehCadastro">
          <mat-icon>{{ ehCadastro ? "login" : "person_add" }}</mat-icon>
          {{ ehCadastro ? "Acessar" : "Cadastrar" }}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="auth-image"></div>
</div>