@use "@angular/material" as mat;
@use "./assets/scss/campos_personalizados.scss";

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body,
html {
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.btn-primary,
.btn-secondary {
  text-transform: uppercase !important;
  border-radius: 10px !important;
  min-width: 150px !important;
}

.btn-primary {
  background-color: #077187 !important;
}

.btn-primary:hover {
  background-color: #007d96 !important;
}

.btn-secondary {
  background: rgba(228, 210, 210, 0.26) !important;
  color: #730000 !important;
  border: 1px solid #730000 !important;
}

.btn-secondary:hover {
  background: rgba(228, 210, 210, 0.87) !important;
  color: #8b0000 !important;
  border: 1px solid #8b0000 !important;
}

.mat-mdc-unelevated-button[disabled],
.mat-mdc-unelevated-button.mat-mdc-button-disabled {
  text-transform: uppercase !important;
  min-width: 150px !important;
  border-radius: 10px !important;
  background-color: #d6d8dc !important;
  color: #8a8d91 !important;
  border: 1px solid #bfc2c7 !important;
}

.mat-mdc-mini-fab {
  box-shadow: none !important;
  border-radius: 90px !important;
  margin: 5px !important;
  color: #ffffff !important;
}

.mat-mdc-mini-fab.mat-warn {
  background-color: #730000c9;
  &:hover {
    background-color: #730000;
  }
}

.mat-mdc-mini-fab.mat-primary {
  background-color: #005f73;
  &:hover {
    background-color: #188196;
  }
}

.mat-mdc-form-field.mat-form-field-appearance-outline {
  .mat-mdc-text-field-wrapper {
    background-color: #ffffff !important;
  }
}

mat-card-title {
  color: #077187 !important;
  font-size: 30px !important;
  font-style: bold !important;
  margin-top: 10px !important;
  margin-bottom: 30px !important;
}

mat-card {
  padding: 10px !important;
  background-color: rgba(255, 255, 255, 0) !important;
  box-shadow: none !important;
}

table {
  margin-top: 25px !important;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

mat-paginator {
  border-top: solid 1px #696969 !important;
  background: #eaebf5 !important;
}

.mat-mdc-header-row {
  background: #005f73 !important;
  color: #ffffff !important;
  height: 40px !important;
  text-transform: uppercase;
}

.mat-mdc-row:hover {
  background: #eaebf5 !important;
  cursor: pointer;
}

.fundo-modal {
  background: rgba(0, 0, 0, 0.779) !important;
  transition: all 1s ease !important;
  backdrop-filter: blur(2px) !important;
  -webkit-backdrop-filter: blur(2px) !important;
}

.linha-destacada {
  background: linear-gradient(360deg, #f5f7fa 0%, #c3cfe2 100%) !important;
}

.mdc-switch__track::after {
  background-color: #005f73 !important;
}

.toast-info {
  background-color: #b37519 !important;
  color: #fff !important;
  border-left: 5px solid #ffffff;
}
