<mat-card>
  <form [formGroup]="formulario" class="container">
    <mat-form-field appearance="fill" class="field-12">
      <mat-label>Nome</mat-label>
      <mat-icon matPrefix>abc</mat-icon>
      <input matInput formControlName="nome" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="field-12">
      <mat-label>E-mail</mat-label>
      <mat-icon matPrefix>alternate_email</mat-icon>
      <input matInput type="email" formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="field-12">
      <mat-label>Perfil</mat-label>
      <mat-icon matPrefix>person</mat-icon>
      <mat-select formControlName="nivelAcesso">
        <mat-option
          *ngFor="let nivelAcesso of listaNivelAcessoEnum"
          [value]="nivelAcesso.id"
        >
          {{ nivelAcesso.nivel }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-card>
