<mat-card>
  <mat-card-header>
    <mat-card-title><mat-icon>add</mat-icon>Cadastrar Skill</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="formulario" class="container">
      <mat-form-field appearance="outline" floatLabel="always" class="field-6">
        <mat-label>Skill</mat-label>
        <mat-icon matPrefix>laptop_windows</mat-icon>
        <input matInput formControlName="nome" placeholder="Digite no nome" />
        <mat-error>
          <app-erro [dadosCampo]="formulario.get('nome')"> </app-erro>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" class="field-6">
        <mat-label>Categoria</mat-label>
        <mat-icon matPrefix>label</mat-icon>
        <mat-select matInput type="text" formControlName="categoria" placeholder="Escolha uma categoria">
          <mat-option *ngFor="let categoria of listaCategoriaSkillsEnum" [value]="categoria.id">
            {{ categoria.descricao }}
          </mat-option>
        </mat-select>
        <mat-error>
          <app-erro [dadosCampo]="formulario.get('categoria')"> </app-erro>
        </mat-error>
      </mat-form-field>
    </form>

    <mat-card-actions>
      <button type="submit" mat-flat-button class="btn-primary" (click)="salvar()" [disabled]="formulario.invalid">
        <mat-icon>{{ ehEdicao ? "save" : "add" }} </mat-icon>
        {{ ehEdicao ? "salvar" : "Cadastrar" }}
      </button>
      <button type="button" mat-flat-button class="btn-secondary" (click)="cancelar()">
        <mat-icon>add</mat-icon>
        Cancelar
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>

@if(dadosTabela.data.length){
<mat-card-content>
  <table mat-table [dataSource]="dadosTabela">
    <ng-container matColumnDef="id">
      <th style="text-align: center; width: 5%;" mat-header-cell *matHeaderCellDef>id</th>
      <td style="text-align: center; width: 5%;" mat-cell *matCellDef="let element">
        {{ element.idSkill }}
      </td>
    </ng-container>

    <ng-container matColumnDef="descricao">
      <th style="width: 20%;" mat-header-cell *matHeaderCellDef>Nome da Skill</th>
      <td style="width: 20%;" mat-cell *matCellDef="let element">{{ element.nome }}</td>
    </ng-container>

    <ng-container matColumnDef="categoria">
      <th style="width: 10%;" mat-header-cell *matHeaderCellDef>Categoria</th>
      <td style="width: 10%;" mat-cell *matCellDef="let element">
        {{ getDescricaoSkill(element.categoria) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="dataCadastro">
      <th style="width: 10%;" mat-header-cell *matHeaderCellDef>Data Cadastro</th>
      <td style="width: 10%;" mat-cell *matCellDef="let element">
        {{ element.dataCriacao | date : "dd/MM/yyyy hh:mm" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="dataModificacao">
      <th style="width: 10%;" mat-header-cell *matHeaderCellDef>Data Modificação</th>
      <td style="width: 10%;" mat-cell *matCellDef="let element">
        {{
        element.dataModificacao
        ? (element.dataModificacao | date : "dd/MM/yyyy HH:mm")
        : "Sem Modificação"
        }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th style="width: 10%; text-align: center" mat-header-cell *matHeaderCellDef>
        Status
      </th>
      <td style="width: 10%; text-align: center" mat-cell *matCellDef="let element">
        <mat-slide-toggle [checked]="element.ativo" (change)="ativaDesativar(element)" class="green-toggle">
        </mat-slide-toggle>
      </td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th style="width: 10%; text-align: center" mat-header-cell *matHeaderCellDef>
        Ações
      </th>
      <td style="width: 10%; text-align: center" mat-cell *matCellDef="let element">
        <button mat-mini-fab color="primary" (click)="editar(element)" [disabled]="!element.ativo">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab color="warn" (click)="excluir(element.idSkill)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunasTabela"></tr>
    <tr mat-row *matRowDef="let row; let i = index; columns: colunasTabela"
      [ngClass]="{ 'linha-destacada': i % 2 === 0 }"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons>
  </mat-paginator>
</mat-card-content>
}