.barra-lateral {
  background: linear-gradient(180deg, #ffffff 0%, #f8fafc 100%);
  box-shadow: 4px 0 20px rgba(0, 0, 0, 0.08);
  border: none;
  border-radius: 0px !important;
}

.cabecalho-barra {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  background: #eaeff5 !important;
  color: #005f73;
  .logo-barra {
    font-size: 28px;
    margin-right: 12px;
  }
  .titulo-barra {
    font-size: 16px;
    font-weight: 600;
  }
}

.conteudo {
  min-height: calc(100vh - 223px);
  background: linear-gradient(180deg, #f5f7fa 0%, #c3cfe2 100%) !important;
}
