<div class="rodape">
  <div class="rodape-conteudo">
    <div class="rodape-infomacoes">
      <div class="rodape-texto">
        <span class="titulo"><mat-icon class="rodape-icone">health_and_safety</mat-icon>GeStack</span>
        <span class="subtitulo">Sistema de Gerenciamento de Metodologias Ágeis</span>
      </div>
    </div>

    <div>
      <button mat-button>Suporte</button>
      <button mat-button>Documentação</button>
      <button mat-button>Contato</button>
    </div>
  </div>

  <div class="rodape-creditos">
    <span>© 2025 GeStack - All rights reserved</span>
    <span class="versao">v2.0.1</span>
  </div>
</div>