<div class="rodape">
  <div class="rodape-conteudo">
    <div class="rodape-infomacoes">
      <mat-icon class="rodape-icone">health_and_safety</mat-icon>
      <div class="rodape-texto">
        <span class="titulo">GeStack</span>
        <span class="subtitulo">Sistema de Gerenciamento de Squads Scrum</span>
      </div>
    </div>

    <div>
      <button mat-button>Suporte</button>
      <button mat-button>Documentação</button>
      <button mat-button>Contato</button>
    </div>
  </div>

  <div class="rodape-creditos">
    <span>© 2025 GeStack - Gerenciamento de Squads. Todos os direitos reservados
      @di.soares.</span>
    <span class="versao">v2.0.1</span>
  </div>
</div>